<!DOCTYPE html>
<html lang="en">

<head>

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>BiblioOnline</title>

    <!-- Bootstrap core CSS -->
    <link href="vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">

    <!-- Custom styles for this template -->
    <link href="css/2-col-portfolio.css" rel="stylesheet">

</head>

<body>


    <!-- Page Content -->
    <div class="container">

        <!-- Page Heading -->
        <img src="~/Imagenes/logo.jpg" width="100" height="100"/>
        <h1 class="my-4">
            Modulos del Sistema
            <small></small>
        </h1>

        <div class="row">
            <div class="col-lg-6 portfolio-item">
                <div class="card h-100">
                    <a href="../usuarios/ListaUsuarios"><img class="card-img-top" src="~/Imagenes/usuarios.jpg" alt=""></a>
                    <div class="card-body">
                        <h4 class="card-title">
                            <a href="../usuarios/ListaUsuarios">Lista de Usuarios</a>
                        </h4>
                        <p class="card-text">Listado general de Usuarios del Sistema </p>
                    </div>
                </div>
            </div>
            <div class="col-lg-6 portfolio-item">
                <div class="card h-100">
                    <a href="../usuarios/ListaNivelesUsuarios"><img class="card-img-top" src="~/Imagenes/niveles.png"  alt=""></a>
                    <div class="card-body">
                        <h4 class="card-title">
                            <a href="../usuarios/ListaNivelesUsuarios">Niveles Usuarios</a>
                        </h4>
                        <p class="card-text">Listado de Niveles de Usuarios</p>
                    </div>
                </div>
            </div>
            <div class="col-lg-6 portfolio-item">
                <div class="card h-100">
                    <a href="../Libros/ListaLibros"><img class="card-img-top" src="~/Imagenes/libros.PNG"  alt=""></a>
                    <div class="card-body">
                        <h4 class="card-title">
                            <a href="../Libros/ListaLibros">Libros</a>
                        </h4>
                        <p class="card-text">Listado General de Libros en inventario.</p>
                    </div>
                </div>
            </div>
            <div class="col-lg-6 portfolio-item">
                <div class="card h-100">
                    <a href="#"><img class="card-img-top" src="~/Imagenes/categoria.png"  alt=""></a>
                    <div class="card-body">
                        <h4 class="card-title">
                            <a href="#">Categorias</a>
                        </h4>
                        <p class="card-text">Listado de Categorias.</p>
                    </div>
                </div>
            </div>
            </div>
        </div>
        

</body>

</html>